.card {
  display: flex;
  width: 300px;
  height: 80px;
}

.card img {
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
}

.card div:nth-child(1) {
  width: 30%;
  height: 100%;
  background: linear-gradient(176.29deg, #ffffff 3%, #544a4a 173.42%);
  
  box-shadow: inset -2px 0px 0px #000000;
  border-radius: 10px 60px 60px 10px;
  z-index: 2;
}

.card div:nth-child(2) span {
  margin-left: 45px;
  line-height: 25px;
}

.card div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  color: #ffffff;

  background: linear-gradient(180deg, #fb0e0e 0%, rgba(0, 0, 0, 0.86) 100%);
  border-radius: 0 17px 17px 0;

  margin-left: -60px;
  z-index: 1;
}
